<div class="row d-flex justify-content-center">
    <div class="col-1  text-center bg-white" >
        <a href="/" class = "nav-link text-black col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
            <h5> Home </h5>
        </a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
        <a href="/Librarian/" class="btn btn-info w-full">Dashboard</a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
        <a href="/user/update-profile" class="btn btn-info w-full">Update Profile</a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
        <a href="/user/change-password" class="btn btn-info w-full">Change Password</a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
        <a href="/Librarian/add_del_books" class = "btn btn-info w-full">Add Books</a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 my-2 col-sm-10">
        <a href="/user/logout" class="btn btn-danger w-full">Logout</a>
    </div>
   
</div>