# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Local DB & instance data
instance/
*.db
*.sqlite3

# Virtual environments
.venv*/
venv/
ENV/
env/

# Secrets / environment
.env

# Flask session/cache
flask_session/

# Editors / OS
.vscode/
.DS_Store