{% extends "user/layout.html" %}

{% block content %}

<div class="container-fluid ">
    <div class="row  py-3 justify-content-center">
        
        <div class="col-1  text-center bg-white" >
            <a href="/" class = "nav-link text-black">
                <h5> Home </h5>
            </a>
        </div>
        <div class="col-8">

        </div>
        
        <div class="col-2  text-center">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </div>

</div>

<div class="container-lg">
    <div class="row">
        <h1> Books</h1>        

    </div>
    <div class="row row-cols-6">

            {% for all_books in all_books %}
            <div class="col-sm-3">
                <div class="card" style="margin-bottom: 25px;">
                    {% if all_books.image_path %}
                    <img src="{{ url_for('static', filename='images/' + all_books.image_path)}}" class="card-img-top" alt="book image"
                    style="max-width: 304px; max-height: 252px; object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="default image"
                    style="max-width: 304px; max-height: 252px; object-fit: cover;">
                    {% endif %}
            
                    <div class="card-body">
                        <h5 class="card-title"> {{all_books.name}} </h5>
                        <p class="card-text">Genre: {{all_books.genre}}
                        </p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
    
    </div>

</div>


{% endblock content %}
