{% extends "user/layout.html" %}

{% block content %}

<div class="container">
    <div class="col-1  text-center bg-white" >
        <a href="/" class = "nav-link text-black col-xl-3 col-lg-3 col-md-3 my-2 col-sm-10"">
            <h5> Home </h5>
        </a>
    </div>
    <h1 class = "text-center my-3">
        User Login
    </h1>
    
    <div class = "row d-flex justify-content-center">
        <div class="dix.col-xl-4 col-lg-4 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {%for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            <strong>
                                {{message}}
                            </strong>
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
            <div class="card  ">
                <div class="card-body">
                    <form action="" method = 'POST'>
                            <label for="">
                                <b>
                                    Enter Your Email
                                    <input type="email" name="email" id="email" class="form-control my-1">
                                </b>
                            </label>
                        </div>

                        <div class="my-2">
                            <label for="">
                                <b>
                                    Enter Your Password
                                    <input type="password" name="password" id="password" class="form-control my-1">
                                </b>
                            </label>
                        </div>
                        <button class="btn btn-success">Signup</button>
                        <span class ="d-flex align-items-center"> Signup here if you don't have an account? 
                            <a href="/user/signup" class="text-center nav-link">
                                 signup
                            </a>
                        </span>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
